.container{
    background-color: #99c7dd;
    border: 1px solid #000;
    height: 600px;
    /* position: relative; */
}

.grandparent{
    background-color: #7291a0;
    border: 1px solid #000;
    margin: 20px;
    height: 500px;
    /* position: relative; */
}

.parent{
    background-color: #455c66;
    border: 1px solid #000;
    margin: 20px;
    height: 400px;
    position: relative;
}

.element{
    background-color: #1b2428;
    border: 2px solid #000;
    font-size: 20px;
    text-align: center;
    width: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
    color: white;
}